.body{
  background-color: #222222;
}

h1{
  color: white;
}

.menuItem{
  float: left;
  display: inline;
  margin-right: 15px;
  color: #a3a3a3;
}

.menuItem:hover{
  color: white;
}

.row2{
  margin-top: 10%;
}

.row1{
  margin-top: 5%;
}

p{
  color: white;
  text-align: center;
  padding-top:15px;
  font-size: 1.5em;
  font-family: Roboto;
}

li{
  list-style: none;
  padding-bottom: 15px;
  font-family: Roboto;
}

ul{
  display: table;
  margin: 0 auto;
  padding-left: 0px;
  padding-top: 15px;
}
