.body{
  background-color: #ffffff;
}

#firstSection{
  background-color: #404040;
}

.navbarLink{
  font-size: 1.3em;
}

#navLinks{
  margin-right: 20px
}

h1{
  color: white;
  font-family: Roboto;
}

h3{
  color: white;
}

.menuItem{
  float: left;
  display: inline;
  margin-right: 15px;
  color: #a3a3a3;
  font-family: Roboto;
}

.menuItem:hover{
  color: white;
}

.row2{
  margin-top: 10%;
  margin-bottom: 20%;
}

.row1{
  margin-top: 5%;
  padding-bottom: 10%;
}

p{
  color: white;
  text-align: center;
  padding-top:15px;
  font-size: 1.5em;
  font-family: Roboto;
}

li{
  list-style: none;
  padding-bottom: 15px;
  font-family: Roboto;
}

ul{
  display: table;
  margin: 0 auto;
  padding-left: 0px;
  padding-top: 15px;
}

#titleText{
  color: #ffffff;
  font-size: 2em;
  margin-left: 20px;
}

#soundCloudHeader{
  color: white;
  font-family: Roboto;
  text-align: center;
}

#soundCloudOrange{
  color: #fa4112;
}

#soundCloudText{
  color: white;
  text-align: center;
}

#soundCloudContainer {
  height: 400px;
  align-items: center;
  display: flex;
}


.container {
  align-items: center;
  display flex;
}

.soundCloudSection{
  background-color: #a9a9a9;
}

#content{

}
